

<div class="fly-case-header">
  <p class="fly-case-year">2017</p>
  <a href="/case/{{ year }}/">
    <img class="fly-case-banner" src="__STATIC__/home/images/case.png" alt="发现 Layui 年度最佳案例">
  </a>
  <div class="fly-case-btn">
    <a href="javascript:;" class="layui-btn layui-btn-big fly-case-active" data-type="push">提交案例</a>
    <a href="" class="layui-btn layui-btn-primary layui-btn-big">我的案例</a>
    
    <a href="http://fly.layui.com/jie/11996/" target="_blank" style="padding: 0 15px; text-decoration: underline">案例要求</a>
  </div>
</div>

<div class="fly-main" style="overflow: hidden;">

  <div class="fly-tab-border fly-case-tab">
    <span>
      <a href="" class="tab-this">2017年度</a>
      <a href="">2016年度</a>
    </span>
  </div>
  <div class="layui-tab layui-tab-brief">
    <ul class="layui-tab-title">
      <li class="layui-this"><a href="">按提交时间</a></li>
      <li><a href="">按点赞排行</a></li>
    </ul>
  </div>
  
  {if condition="$total>0"}
  <ul class="fly-case-list">
	{volist name="PostList" id="p"}
    <li data-id="${p.id}">
      <a class="fly-case-img" href="http://fly.layui.com/" target="_blank" >
        <img src="__STATIC__/home/images/fly.jpg" alt="Fly社区">
        <cite class="layui-btn layui-btn-primary layui-btn-small">去围观</cite>
      </a>
      <h2><a href="http://fly.layui.com/" target="_blank">{$p.cate.name}</a></h2>
      <p class="fly-case-desc">{$p.title}</p>
      <div class="fly-case-info">
        <a href="../user/home.html" class="fly-case-user" target="_blank"><img src="{$p.user.avatar == null ? '/static/home/images/avatar/00.jpg' : $p.user.avatar}"></a>
        <p class="layui-elip" style="font-size: 12px;"><span style="color: #666;">{$p.user.username}</span> {$p.createtime|date="y-m-d",###}</p>
        <p>获得<a class="fly-case-nums fly-case-active" href="javascript:;" data-type="showPraise" style=" padding:0 5px; color: #01AAED;">{$p.visit}</a>个赞</p>
        <button class="layui-btn layui-btn-primary fly-case-active" data-type="praise">点赞</button>
        <!-- <button class="layui-btn  fly-case-active" data-type="praise">已赞</button> -->
      </div>
    </li>
	{/volist}
  </ul>
  {else/}
	<blockquote class="layui-elem-quote layui-quote-nm">暂无数据</blockquote>
  {/if}

  <div style="text-align: center;">
	<div class="page">
		{$PostList->render()}
	</div>
    <!-- <div class="laypage-main">
      <span class="laypage-curr">1</span>
      <a href="">2</a><a href="">3</a>
      <a href="">4</a>
      <a href="">5</a>
      <span>…</span>
      <a href="" class="laypage-last" title="尾页">尾页</a>
      <a href="" class="laypage-next">下一页</a>
    </div> -->
  </div>

</div>