<!DOCTYPE html>
<html lang="zh">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>后台</title>
	<!-- 样式需要把路径补充完整 -->
	<link rel="stylesheet" type="text/css" href="/static/admin/css/login.css">
</head>

<body>
	<div id="wrapper" class="login-page">
		<div id="login_form" class="form">
			<form class="login-form" method="post">
				<h2>管理登录</h2>
				<input type="text" name="username" placeholder="用户名" id="user_name" required />
				<input type="password" name="password" placeholder="密码" id="password" required />
				<button type="submit" id="login">登　录</button>
			</form>
		</div>
	</div>
</body>

</html>